@import "tailwindcss";
@import "uniwind";

@layer theme {
  :root {
    @variant light {
      --color-background: #f6f2ed;
      --color-surface: #fff;
      --color-outline: #dfdddb;
      --color-text-primary: #211304;
      --color-text-disabled: #9a9795;
      --color-text-alt: #fff;
      --color-discount: #7c1414;
      --color-snackbar: #211304;
      --color-discount-start: #d33f3f;
      --color-discount-end: #7c1414;
    }
    @variant dark {
      --color-background: #f6f2ed;
      --color-surface: #fff;
      --color-outline: #dfdddb;
      --color-text-primary: #211304;
      --color-text-disabled: #9a9795;
      --color-text-alt: #fff;
      --color-discount: #7c1414;
      --color-snackbar: #211304;
      --color-discount-start: #d33f3f;
      --color-discount-end: #7c1414;
    }
  }
}
